/*#page-header{
    background-image : url(../images/cooked-meal-1.jpg);
    height:250px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
*/
.main-wrapper{
  width: 85vw;
}

.display-recipe{
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.recipe-image{
  width: 300px;
  height: 200px;
}

input[type='checkbox']{

}

.panel-recipe{
  background: #f5f5f5;
  /*text-align: center;*/
}

  #login {
    background-color: darkgreen ;   /* Green #4CAF50; #799855*/
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
}

.recipe-info table, td, th{
  border: none;
  padding: 5px 15px;
  font-size: 1.1em;
  
}

.recipe-display-div{
  /*min-height: 30vh;*/
}

.grocery-list table, td, th{
  border: 1px solid lightgrey;
  padding: 5px 15px;
  /*font-size: 1.2em;*/ 
}

.grocery-list{
  width: 100%;
}

#main-tab, #recipe-window, #grocery-list-window, #map-window, #recipe-collection-window{
  display: none;
}

#main-tab{
  margin-top: 5vh;
}

#recipe-window, #grocery-list-window{
  /*margin-top: 5vh;*/
}

.servings{
  text-align: right;
  margin-left: 20px;
  vertical-align: middle;
}

#grocery-list-header{
  text-align: center;
}

.form-section{
  text-align: center;
}

#logo-image{
  width:100%;
}

.form-group{
  margin-top: 20px;
  line-height: 0;
}

.center-pills {
   display: inline-block;
   margin-top:25px;
   background-color:white;
   font-size: 20px;
   padding:5px;
   margin-left:10px;
   margin-right:10px;
   border-radius:10px;
   border:2px solid green;
}

.header-text-box{
  color:white;
  font-weight: bold;
  text-align: center;
  /*height:100%;*/
  margin-top:60px;
  font-family: 'Sofia', cursive;
  font-size: 10vmin;
  text-shadow: 2px 2px 16px #000000;
  }

.grocery-list-panel {
  margin-top:50px;
  text-align: center;
}

.recipe-section{
  height:100%;
}

#nameInput, #emailInput, #zipInput{
  border: 1px solid lightblue;
}

#login-window{
  vertical-align: middle;
  margin: 0 auto;
  width:35vw;
  text-align:center;
  }

#recipe-window{
  margin-top: 10vh;
  }

#logo-image{
    width:100%;
  }

#map-zip{
  width: 100%;
  height: 400px;
}