.main-wrapper{
  width: 85vw;
}

.display-recipe{
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.recipe-image{
  width: 300px;
  height: 200px;
}

input[type='checkbox']{

}

.panel-recipe{
  background: #f5f5f5;
  /*text-align: center;*/
}


/*.grocery-list table {
    border-collapse: collapse;
    text-align: left;
    display: inline-table;
}

.grocery-list table, th, td {
    border: 1px solid lightgrey;
    padding: 10px;
}*/

.recipe-info table, td, th{
  border: none;
  padding: 5px 15px;
  font-size: 1.1em;
  
}

.recipe-display-div{
  /*min-height: 30vh;*/
}

.grocery-list table, td, th{
  border: 1px solid lightgrey;
  padding: 5px 15px;
  /*font-size: 1.2em;*/ 
}

.grocery-list{
  width: 100%;
}

#recipe-window, #grocery-list-window, #map-window, #recipe-collection-window{
  display: none;
}

#login-window{
  vertical-align: middle;
}

#recipe-window, #grocery-list-window{
  margin-top: 10vh;
}

.servings{
  text-align: right;
  margin-left: 20px;
  vertical-align: middle;
}

#grocery-list-header{
  text-align: center;
}