.main-wrapper{
  width: 85vw;
}

.display-recipe{
  display: inline-block;
  margin-left: 15px;
}

.recipe-image{
  width: 300px;
  height: 200px;
}

input[type='checkbox']{

}

table {
    border-collapse: collapse;
    /*width: 100%;*/
    text-align: left;
    display: inline-table;
}

table, th, td {
    border: 1px solid lightgrey;
    padding: 10px;
}